<br>
<div class="container-mt-3">
  <div class="row">
      <div class="col-md-4 mx-auto">
          <h2>Resultados Condensadores</h2>
      </div>
  </div>    
</div>

<br>

<div class="container-mt-3">

  <div class="row">
      <div class="col-md-4 mx-auto">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nro</th>
              <th scope="col">Componente</th>
              <th scope="col">Valor</th>
              <th scope="col">Cumple</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Temp superficial interna, muro (Tsi)</td>
              <td>{{tsi_muro}}</td>
              <td>@mdo</td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td>Temp superficial interna, techo (Tsi)</td>
              <td>{{tsi_techo}}</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Temp superficial interna, piso (Tsi)</td>
              <td>{{tsi_piso}}</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>HR(Según zona bioclimática)</td>
              <td>{{hr}}</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>  




      </div>
  </div>
</div>

