
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <!-- <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
       -->
      <li class="page-item"><a class="page-link" routerLink="/">Subir Formulario</a></li>
      <li class="page-item"><a class="page-link" routerLink="/termico">Térmico</a></li>
      <li class="page-item"><a class="page-link" routerLink="/condensadores">Condensadores</a></li>
      <li class="page-item"><a class="page-link" routerLink="/luminico">Lumínico</a></li>
      
      <!-- <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li> -->

    </ul>
    
</nav>